[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/mz026/base16-shell
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-custom/plugins/nix-zsh-completions"]
	path = zsh-custom/plugins/nix
	url = https://github.com/expipiplus1/nix-zsh-completions.git
